.container {
  max-width: 1100px;
  margin: 50px auto;
}

.content {
  display: flex;
  gap: 40px;
}

.left-panel {
  flex: 2;
  min-height: 400px;
  border: 1px solid #ddd;
}

.right-panel {
  flex: 1;
  border: 1px solid #ddd;
}